<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Arnold.LiftLog" >

    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="" >
        <activity
            android:name=".MainActivity"
            android:label=""
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".NewLogActivity"
            android:label="@string/title_activity_new_log"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Arnold.LiftLog.MainActivity" />
        </activity>
        <activity
            android:name=".ViewHistoryActivity"
            android:label="@string/title_activity_view_history"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Arnold.LiftLog.MainActivity" />
        </activity>
        <activity
            android:name=".EditBubbleActivity"
            android:label="@string/title_activity_edit_bubble"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Arnold.LiftLog.MainActivity" />
        </activity>
        <activity
            android:name=".ViewHistoryDetailed"
            android:label="@string/title_activity_view_history_detailed"
            android:parentActivityName=".ViewHistoryActivity"
            android:theme="@style/AppTheme2">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Arnold.LiftLog.ViewHistoryActivity" />
        </activity>
        <activity
            android:name=".LoadScreenActivity"
            android:label="LiftLog"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
