<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Arnold.LiftLog" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.Arnold.LiftLog.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.Arnold.LiftLog.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Arnold.LiftLog.MainActivity" />
        </activity>
        <activity
            android:name="com.Arnold.LiftLog.NewLogActivity"
            android:label="@string/title_activity_new_log"
            android:parentActivityName="com.Arnold.LiftLog.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Arnold.LiftLog.MainActivity" />
        </activity>
        <activity
            android:name="com.Arnold.LiftLog.ViewHistoryActivity"
            android:label="@string/title_activity_view_history"
            android:parentActivityName="com.Arnold.LiftLog.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Arnold.LiftLog.MainActivity" />
        </activity>
        <activity
            android:name="com.Arnold.LiftLog.EditBubbleActivity"
            android:label="@string/title_activity_edit_bubble"
            android:parentActivityName="com.Arnold.LiftLog.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.Arnold.LiftLog.MainActivity" />
        </activity>
    </application>

</manifest>
